@import "./global/mixin";
@import "./global/settings";
@import "./tamplate";

.main_content {
  padding-top: 160px;
  padding-bottom: 183px;
  @include max-screen(992px) {
    padding-top: 84px;
    padding-bottom: 60px;
  }

  .container {
    max-width: 904px;
    @include max-screen(576px) {
      padding: 0 40px;
    }
    //@include max-screen(576px){
    //  padding: 0 20px;
    //}
  }

  h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    @include max-screen(767px) {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
    }
    @include max-screen(464px) {
      font-weight: 600;
      font-size: 33px;
    }
    @include max-screen(375px) {
      font-weight: 600;
      font-size: 30px;
    }

    &.red {
      color: #D00D29;
    }
  }

  h4 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }

  .form_group {
    display: flex;
    margin-bottom: 90px;
    @include max-screen(767px) {
      display: block;
    }

    .form_control {
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 128%;
      color: #C6C6C6;
      padding: 25px 37px;
      box-sizing: border-box;
      max-width: 595px;
      width: 100%;
      height: 70px;
      background: #F9F9F9;
      border: 1px solid #DEDEDE;
      border-radius: 100px;
      margin-right: 10px;
      @include max-screen(767px) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    button {
      width: 259px;
      height: 70px;
      background: #D00D29;
      border-radius: 100px;
      font-family: 'Neuzeit Grotesk';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer;
      @include max-screen(767px) {
        margin-bottom: 40px;
        width: 100%;
      }
    }
  }

  h2 {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #6C6C6C;

    &.mb-70 {
      margin-bottom: 70px;
      @include max-screen(767px) {
        margin-bottom: 20px;
      }
    }
  }

  h3 {
    background: #EEEEEE;
    border-radius: 10px;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #D00D29;
    padding: 20px;
    box-sizing: border-box;
  }

  .description_step {
    min-height: 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 70px;
    @include max-screen(767px) {
      display: block;
      margin-bottom: 20px;
    }

    &.part_2 {
      img {
        max-width: 209px;
        display: block;
        @include max-screen(767px) {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &.part_3 {
      img {
        max-width: 209px;
        display: block;
        @include max-screen(767px) {
          max-width: 100%;
          width: 100%;
        }
      }

      margin-bottom: 0px;
    }

    p {
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #6C6C6C;
      max-width: 693px;
      @include max-screen(767px) {
        margin-bottom: 20px;
      }
    }

    img {
      max-width: 161px;
      display: block;
      @include max-screen(767px) {

      }
    }
  }
}

::placeholder {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 128%;
  color: #C6C6C6;
}

footer {
  .carusel_footer {
    margin-bottom: 113px;
    @include max-screen(767px){
      margin-bottom: 0px;
    }
    h5 {
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 128%;
      text-align: center;
      color: #696969;
      margin-bottom: 4px;
    }

    h4 {
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 128%;
      text-align: center;
      color: #000000;
      margin-bottom: 32px;
    }
  }

  .owl-carousel {
    a {
      max-width: 217px;
      display: inline-block;
      @include max-screen(767px) {
        max-width: 100%;
        margin: 10px;
      }
    }
  }

  .bottom_grey {
    background-color: #D9D9D9;
    padding: 7px 0 11px;
    @include max-screen(767px) {
      margin-top: 16px;
    }
  }

  .deskription {
    display: flex;
    justify-content: space-between;
    @include max-screen(767px) {
      display: block;
      padding-top: 5px;
    }

    p {
      width: 50%;
      font-family: 'Gilroy-Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 128%;
      color: #696969;
      @include max-screen(767px) {
        margin-bottom: 10px;
        width: 100%;
        padding: 0px 14px 0;
        br{
          display: none;
        }
      }
    }
  }
}

#footer {
  position: relative
}

.c-297.c-col {
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-297 {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 1656px) {
  .c-297 {
    max-width: 1140px;
  }
}
@media screen and (max-width: 767px){
  .c-297 {
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  #footer {
    border: 1px solid #e6e6e6
  }
}

#footer .top {
  padding-top: 48px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3.4722222222vw
}

@media screen and (min-width: 1728px) {
  #footer .top {
    margin-bottom: 60px
  }
}

@media screen and (max-width: 576px) {
  #footer .top {
    margin-bottom: 20px
  }
}

#footer .top h6 {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #d5d5d5;
  pointer-events: none
}

#footer .top a {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  pointer-events: all;
  cursor: pointer
}

#footer .top .left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

#footer .top .left svg {
  margin-bottom: 2.0833333333vw
}

@media screen and (min-width: 1728px) {
  #footer .top .left svg {
    margin-bottom: 36px
  }
}

@media screen and (max-width: 720px) {
  #footer .top .left svg {
    margin-bottom: 15px
  }
}

#footer .top .left .mailto {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 2.2916666667vw
}

@media screen and (min-width: 1728px) {
  #footer .top .left .mailto {
    margin-bottom: 39.6px
  }
}

@media screen and (max-width: 1440px) {
  #footer .top .left .mailto {
    margin-bottom: 33px
  }
}

#footer .top .left .socials h6 {
  margin-bottom: .5555555556vw
}

@media screen and (min-width: 1728px) {
  #footer .top .left .socials h6 {
    margin-bottom: 9.6px
  }
}

@media screen and (max-width: 1440px) {
  #footer .top .left .socials h6 {
    margin-bottom: 8px
  }
}

#footer .top .left .socials a {
  text-transform: uppercase
}

@media screen and (max-width: 767px) {
  #footer .top .left svg {
    -ms-flex-order: 2;
    order: 2
  }
  #footer .top .left .mailto {
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 0
  }
  #footer .top .left .socials {
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 48px
  }
}

#footer .top .right {
  display: -ms-flexbox;
  display: flex
}

#footer .top .right h6 {
  margin-bottom: 1.3888888889vw
}

@media screen and (min-width: 1728px) {
  #footer .top .right h6 {
    margin-bottom: 24px
  }
}

@media screen and (max-width: 1440px) {
  #footer .top .right h6 {
    margin-bottom: 20px
  }
}

#footer .top .right h6 svg {
  display: none;
  transition: all .25s cubic-bezier(.445, .05, .55, .95)
}

#footer .top .right .drawer-items {
  overflow: hidden;
  transition: all .25s cubic-bezier(.39, .575, .565, 1)
}

@media screen and (max-width: 767px) {
  #footer .top .right .drawer-items > :last-child {
    margin-bottom: 20px
  }
}

#footer .top .right .drawer.open h6 svg {
  transform: rotate(135deg)
}

#footer .top .right .column:first-child {
  margin-right: 6.9444444444vw
}

@media screen and (min-width: 1728px) {
  #footer .top .right .column:first-child {
    margin-right: 120px
  }
}

#footer .top .right .column:nth-child(2) {
  margin-right: 4.4444444444vw
}

@media screen and (min-width: 1728px) {
  #footer .top .right .column:nth-child(2) {
    margin-right: 76.8px
  }
}

#footer .top .right .column-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start
}

#footer .top .right .column-items a {
  padding: 6px 0
}

#footer .top .right .column-items a:first-child {
  padding: 0 0 6px
}

@media screen and (max-width: 767px) {
  #footer .top .right .column-items {
    height: auto
  }
}

@media screen and (max-width: 767px) {
  #footer .top .right {
    -ms-flex-direction: column;
    flex-direction: column
  }
  #footer .top .right h6 {
    color: #000;
    gap: 11px
  }
  #footer .top .right h6, #footer .top .right h6 svg {
    display: -ms-flexbox;
    display: flex
  }
  #footer .top .right .line {
    width: 100%;
    height: 1px;
    position: absolute;
    background: #e6e6e6;
    left: 0
  }
  #footer .top .right .column-items {
    padding-left: 30px
  }
  #footer .top .right .column {
    margin-bottom: 24px
  }
}

@media screen and (max-width: 767px) {
  #footer .top {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 24px;
    border: none
  }
}

#footer .credit-cards {
  max-width: 219px
}

#footer .bottom {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 42px;
  @include max-screen(767px){
    padding-bottom: 10px;
  }
}

#footer .bottom span {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: dimgray
}

@media screen and (max-width: 767px) {
  #footer .bottom span {
    font-size: 12px
  }
}

#footer .disclaimer {
  display: -ms-flexbox;
  display: flex;
  background: #d9d9d9;
  bottom: 0;
  width: 100%;
  height: 48px;
  -ms-flex-align: center;
  align-items: center;
  gap: 16.6vw;
  margin-top: 2.2222222222vw
}

@media screen and (min-width: 1728px) {
  #footer .disclaimer {
    margin-top: 38.4px
  }
}

@media screen and (max-width: 720px) {
  #footer .disclaimer {
    margin-top: 16px
  }
}

#footer .disclaimer .c-297 div {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 12px;
  line-height: 1.3;
  color: dimgray;
  width: 416px
}

#footer .disclaimer .c-297 div:last-of-type {
  text-transform: uppercase
}

@media screen and (max-width: 959px) {
  #footer .disclaimer .c-297 {
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media screen and (max-width: 767px) {
  #footer .disclaimer {
    height: 100px
  }
  #footer .disclaimer .c-297 {
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.shift-word {
  width: fit-content;
  display: inline-block;
  color: #000
}

.shift-word, .shift-word > span {
  overflow: hidden;
  position: relative
}

.shift-word > span:after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 0 50%;
  transform: translateY(200%);
  transition: transform .22s cubic-bezier(.445, .05, .55, .95);
  color: #d00d29;
  position: absolute;
  width: 100%;
  left: 0
}

html:not(.touch) .shift-word:hover > span:after {
  transform: translateY(0)
}

html:not(.touch) .shift-word:hover > span span {
  transform: translateY(-100%)
}

.shift-word span {
  display: inline-block;
  transition: transform .22s cubic-bezier(.445, .05, .55, .95)
}

.header{
  position: fixed;
  width: 100%;
  z-index: 2;
}














