@import "./global/mixin";
@import "./global/settings";
@import "./tamplate";

.main_content{
  padding-top: 160px;
  padding-bottom: 183px;
  @include max-screen(992px){
    padding-top: 84px;
    padding-bottom: 60px;
  }
  .container{
    max-width: 904px;
    @include max-screen(576px){
      padding: 0 40px;
    }
    //@include max-screen(576px){
    //  padding: 0 20px;
    //}
  }
  h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    @include max-screen(767px){
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
    }
  }
  h4{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  .form_group{
    display: flex;
    margin-bottom: 90px;
    @include max-screen(767px){
      display: block;
    }
    input{
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 128%;
      color: #C6C6C6;
      padding: 25px 37px;
      box-sizing: border-box;
      max-width: 595px;
      width: 100%;
      height: 70px;
      background: #F9F9F9;
      border: 1px solid #DEDEDE;
      border-radius: 100px;
      margin-right: 10px;
      @include max-screen(767px){
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    button{
      width: 259px;
      height: 70px;
      background: #D00D29;
      border-radius: 100px;
      font-family: 'Neuzeit Grotesk';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer;
      @include max-screen(767px){
        margin-bottom: 40px;
        width: 100%;
      }
    }
  }
  h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 20px;
  }
  p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #6C6C6C;
    &.mb-70{
      margin-bottom: 70px;
      @include max-screen(767px){
        margin-bottom: 20px;
      }
    }
  }
  h3{
    background: #EEEEEE;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #D00D29;
    padding: 20px;
    box-sizing: border-box;
  }
  .description_step{
    min-height: 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 70px;
    @include max-screen(767px){
      display: block;
      margin-bottom: 20px;
    }
    &.part_2{
      img {
        max-width: 209px;
        display: block;
        @include max-screen(767px) {
          max-width: 100%;
          width: 100%;
        }
      }
    }
    &.part_3{
      img{
        max-width: 209px;
        display: block;
        @include max-screen(767px){
          max-width: 100%;
          width: 100%;
        }
      }
      margin-bottom: 0px;
    }
    p{
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #6C6C6C;
      max-width: 693px;
      @include max-screen(767px){
        margin-bottom: 20px;
      }
    }
    img{
      max-width: 161px;
      display: block;
      @include max-screen(767px){

      }
    }
  }
}
::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 128%;
  color: #C6C6C6;
}











