/* header */
.header {
  background-color: #000000;
  padding: 20px 0;
  overflow-x: hidden;

  @include max-screen(992px) {
    background-color: #fff;
  }

  // .header__container
  &__container {
    @include min-screen(1600px) {
      max-width: 1570px;
    }
  }

  // .header__content
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo
  &__logo {
    display: block;
    max-width: 250px;
    width: 100%;

    @include max-screen(992px) {
      display: none;
    }
  }

  // .header__notification
  &__notification {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    opacity: 1;

    @include max-screen(992px) {
      display: none;
    }

    &.hidden {
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.2s, transform 0s 0.2s;
    }

    .text {
      font-family: "Gilroy", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      color: #ffffff;
    }

    .notification-close {

    }
  }

  // .header__btn-group
  &__btn-group {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    @include max-screen(992px) {
      max-width: 100%;
      justify-content: space-between;
    }
  }

  // .header__mobile-logo
  &__mobile-logo {
    display: none;

    @include max-screen(992px) {
      display: block;
    }
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #D00D29;
  border: 1px solid transparent;
  border-radius: 100px;
  min-height: 50px;
  min-width: 120px;
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  transition: all 0.3s;

  &:hover {
    background: #fff;
    color: #000;
    border-color: #d00d29;
    transition: all 0.3s;
  }
}

.btn-shopping-bug {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  background-color: #fff;
  border-radius: 100px;

  @include max-screen(992px) {
    border: 1px solid #D00D29;
    border-radius: 50%;
  }

  @include max-screen(576px) {
    min-width: 36px;
    min-height: 36px;
  }

  // .btn-shopping-bug__icon
  &__icon {
    @include max-screen(576px) {
      width: 18px;
      height: 18px;
    }
  }
}

.navbar-menu__btn-open {
  @include max-screen(992px) {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #D00D29;
    border-radius: 50%;
    background-color: #fff;
  }
  @include max-screen(576px) {
    min-width: 36px;
    min-height: 36px;
  }

  .navbar__icon {
    display: none;

    @include max-screen(992px) {
      display: block;
    }
  }

  .navbar__text {
    @include max-screen(992px) {
      display: none;
    }
  }
}

.navbar-menu {
  position: fixed;
  min-width: 537px;
  height: 100%;
  overflow-y: auto;
  top: 0;
  right: 0;
  background: #fff;
  padding: 32px 32px 32px 48px;
  z-index: 100;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: all 0.5s;

  @include max-screen(576px) {
    min-width: auto;
    width: 100%;
    transform: translateY(20%);
  }

  &.show {
    opacity: 1;
    visibility: inherit;
    transform: translateX(0);
    transition: all 0.5s;

    @include max-screen(576px) {
      transform: translateY(0);
    }
  }

  // .navbar-menu__btn-close
  &__btn-close {
    display: flex;
    margin-left: auto;
    margin-bottom: 20px;
  }

  // .navbar-menu__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }

  // .navbar-menu__item
  &__item {

  }

  // .navbar-menu__link
  &__link {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: #000;
    text-align: left;
    transition: all .3s cubic-bezier(.445, .05, .55, .95);

    &:hover {
      color: #d00d29;
    }
  }
}

body {
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(19, 41, 78, .5);
    position: fixed;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &.hidden {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(19, 41, 78, .5);
      position: fixed;
      z-index: 10;
      opacity: 1;
      visibility: inherit;
      transition: all 0.3s;
    }

    @include max-screen(576px) {
      overflow: hidden;
    }
  }
}


