*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  //font-size: 10px;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: calc(100vh + 1px);
  scroll-behavior: smooth;
  line-height: 1.25;
}

ul, ol {
  margin: 0;

  &.list-unstyled {
    list-style: none;
    padding: 0;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  display: block;
}

//=============================

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(1200px) {
    max-width: 960px;
  }

  @include max-screen(992px) {
    max-width: 720px;
  }

  @include max-screen(768px) {
    max-width: 540px;
  }

  @include max-screen(576px) {
    max-width: 100%;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(575px) {
    padding: 0 20px;
  }
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

.d-none {
  display: none !important;
}

.icon {
  stroke: currentColor;
  width: 24px;
  height: 24px;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff2') format('woff2'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype'),
  url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('../fonts/NeuzeitGro-Reg.eot');
  src: url('../fonts/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitGro-Reg.woff2') format('woff2'),
  url('../fonts/NeuzeitGro-Reg.woff') format('woff'),
  url('../fonts/NeuzeitGro-Reg.ttf') format('truetype'),
  url('../fonts/NeuzeitGro-Reg.svg#NeuzeitGro-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}










